<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
<h3>For data of a particular date</h3>
<p>URL Format : http://127.0.0.1:5000/api/v1/<b>station_code</b>/<b>date</b></p>
<p>URL Format : http://127.0.0.1:5000/api/v1/10/19881025</p>
<h3>For all time data</h3>
<p>URL Format : http://127.0.0.1:5000/api/v1/<b>station_code</b>/</p>
<p>URL Format : http://127.0.0.1:5000/api/v1/10/</p>
<h3>For a particular year</h3>
<p>URL Format : http://127.0.0.1:5000/api/v1/yearly/<b>station_code</b>/</p>
<p>URL Format : http://127.0.0.1:5000/api/v1/10/19881025</p>

<p>Following are the list of stations are their codes : </p>
<p>{{data|safe}}</p>
<!--safe allows data to be in html format-->
</body>
</html>